@import '../fonts/index.scss';
@import './variables.scss';

html,
body,
#root {
  background: $gray;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $defaultFont;
  font-size: $defaultFontSize;
  font-weight: $defaultFontWeight;
  color: $defaultFontColor;
}
